<section id="prodetails" class="section-p1">
  <div class="single-pro-image">
    <img
      src="../../../assets//products/play.jpg"
      width="100%"
      id="mainImg"
      alt="mainImg"
    />

    <div class="small-img-group">
      <div class="small-img-col">
        <img
          src="../../../assets/products/play.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="../../../assets/products/play.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="../../../assets/products/play.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="../../../assets/products/play.jpg"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="single-pro-details">
    <h6>Home / Laptop</h6>
    <h4>Apple MacBook Pro 16"</h4>
    <h2>$5999.00</h2>
    <select>
      <option>Select Option</option>
      <option>1TB/16GB</option>
      <option>1TB/32GB</option>
      <option>2TB/32GB</option>
      <option>2TB/64GB</option>
      <option>4TB/128GB</option>
    </select>

    <input type="number" value="1" />
    <button class="normal">Add To Cart</button>
    <h4>Product Details</h4>
    <span
      >Apple's 14-inch MacBook Pro has straddled the line between high-end
      consumer laptop and capable professional machine since its introduction,
      showing up as often in offices and media studios as it does in homes and
      dorm rooms. It's a true prosumer laptop, with options ranging from basic
      (the more affordable M3-powered model) to overpowered (the M3 Max
      monster). In the middle sits the 14-inch MacBook Pro with M3 Pro (starting
      at $1,599; $1,999 as tested).
    </span>
  </div>
</section>

<app-featured-products />
