<section id="prodetails" class="section-p1">
  <div class="single-pro-image">
    <img
      src="{{ product.imageUrl1 }}"
      width="100%"
      id="mainImg"
      alt="mainImg"
    />

    <div class="small-img-group">
      <div class="small-img-col">
        <img
          src="{{ product.imageUrl1 }}"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="{{ product.imageUrl2 }}"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="{{ product.imageUrl3 }}"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
      <div class="small-img-col">
        <img
          src="{{ product.imageUrl4 }}"
          width="100%"
          class="small-img"
          alt=""
        />
      </div>
    </div>
  </div>

  <div class="single-pro-details">
    <h6>Home / {{ product.category }}</h6>
    <h4>{{ product.brand }} {{ product.model }}</h4>
    <h2>${{ product.price }}</h2>
    <select>
      <option>Select Option</option>
      <option *ngFor="let option of product.options">{{ option }}</option>
    </select>

    <input type="number" value="1" />
    <button class="normal">Add To Cart</button>
    <h4>Product Details</h4>
    <span>{{ product.description }} </span>
  </div>
</section>

<app-featured-products />
