<section id="page-header" class="about-header">
  <h2>#contactUsWithEase</h2>
  <p>We love to hear from you! Don't hesitate contacting us!</p>
</section>

<section id="contact-details" class="section-p1">
  <div class="details">
    <span>GET IN TOUCH</span>
    <h2>Visit one of our agency locations or contact us today</h2>
    <h3>Head Office</h3>
    <div>
      <li>
        <i class="fal fa-map"></i>
        <p>1 Bulgaria Boulevard, Sofia, Bulgaria</p>
      </li>
      <li>
        <i class="far fa-envelope"></i>
        <p>contact@example.com</p>
      </li>
      <li>
        <i class="fas fa-phone-alt"></i>
        <p>+359 123-123-123 / 02 123-123-123</p>
      </li>
      <li>
        <i class="far fa-clock"></i>
        <p>Monday to Saturday: 10:00 - 18:00</p>
      </li>
    </div>
  </div>

  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2933.0576791278245!2d23.317120476722693!3d42.681320514743945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa85b9441ddd4d%3A0x23396ef3d31d90d1!2z0LYu0LouINCb0L7Qt9C10L3QtdGGLCDQkdC7LiDigJ7QkdGK0LvQs9Cw0YDQuNGP4oCcIDEsIDE0MjEg0KHQvtGE0LjRjw!5e0!3m2!1sbg!2sbg!4v1712847751033!5m2!1sbg!2sbg"
      width="600"
      height="450"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</section>

<section id="form-details">
  <form action="">
    <span>Leave us a message</span>
    <h2>We love to hear from you</h2>
    <input type="text" placeholder="Your Name" />
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Subject" />
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Your message"
    ></textarea>
    <button class="normal">Submit</button>
  </form>
</section>
