<section id="form-details">
  <form action="">
    <span>Auth</span>
    <h2>Register new account</h2>
    <input type="text" placeholder="Username" />
    <input type="text" placeholder="First Name" />
    <input type="text" placeholder="Last Name" />
    <input type="text" placeholder="Date of birth" />
    <input type="text" placeholder="Email" />
    <input type="text" placeholder="Password" />
    <input type="text" placeholder="Repeat password" />
    <button class="normal">Register</button>
  </form>
</section>
