<section id="page-header" class="about-header">
  <h2>#knowUsBetter</h2>
  <p>Friends, not just a regular shop!</p>
</section>

<section id="about-head" class="section-p1">
  <img src="../../../assets/a62.jpg" alt="Shop image" />
  <div>
    <h2>Who We Are?</h2>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet
      consequatur, fugiat, facilis similique inventore illo facere assumenda
      ipsam delectus eum doloribus iure voluptate sequi numquam doloremque
      blanditiis minus quaerat expedita. Lorem, ipsum dolor sit amet consectetur
      adipisicing elit. Quaerat, deserunt. Quod necessitatibus magni harum iste
      quisquam sint non, aliquid accusantium eius, doloremque ea deserunt? Nulla
      saepe enim ad praesentium nemo?
    </p>

    <abbr title=""
      >You can find variety of computers and computer componenets in just one
      click. We are here 24/7 for YOU!</abbr
    >
    <br /><br />

    <marquee bgcolor="#ccc" loop="-1" scrollAmount="5" width="100%"
      >You can find variety of computers and computer componenets in just one
      click. We are here 24/7 for YOU!</marquee
    >
  </div>
</section>
